.menu {
  position: fixed;
  width: calc(100% / 4);
  height: 100%;
  display: none;
  transform: translateX(-100%);
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: $white;
  border-right: 1px solid $gray-3;
  transition: transform $easing .5s;

  @include bp(large) {
    @include flexbox(column, flex-start, center)
  }

  &__item {
    @include flexbox(column, flex-start, top)
    width: 100%;
    border-bottom: 1px solid $gray-3;

    &:first-child {
      border-top: 1px solid $gray-3;
    }

    a {
      padding: $space*2 0 $space*2 $space;
      color: inherit;
      text-decoration: none;
    }
  }

  &__sub {
    list-style-type: none;
    padding: $space;
    background: $gray-4;

    li {
      margin-bottom: $space;

      &:last-child {
        margin-bottom: 0;
      }
      a {

      }
    }
  }

}
