.btn {
  width: 5rem;
  background: $coralreef;
  padding: 1rem 3rem;
  border-radius: 2px;
  font-family: $ff-sg-medium;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  transition: box-shadow $easing2 .35s, transform $easing2 .35s;
  user-select: none;
  @include shadow-1;

  &:hover {
    @include shadow-2;
    transform: translateY(-1px);
    cursor: pointer;
  }

  &:active,
  &:focus {
    @include shadow-0;
    transform: translateY(0px)
  }

  &--hover {
    @include shadow-2;
  }
}
