ul.menu(data-accordion-menu='')
  li.menu__item
    a(href='#') Overview
    ul.menu__sub
      li
        a(href='#overview-introduction') Introduction
  li.menu__item
    a(href='#') Design
    ul.menu__sub
      li
        a(href='#design-colour') Colour
      li
        a(href='#design-typography') Typography
      li
        a(href='#design-logo') Logo
      li
        a(href='#design-favicon') Favicon
      li
        a(href='#design-graphicelement') Graphic element
  li.menu__item
    a(href='#') Components
    ul.menu__sub
      li
        a(href='#') Colour
      li
        a(href='#') Typography
      li
        a(href='#') Logo
      li
        a(href='#') Favicon
      li
        a(href='#') Graphic element
