ul.menu(data-accordion-menu='', data-multi-open='false')
  .menu__header
    a(href="#top")
      img.header__logo(src="images/svg/fm-logo.svg")
    span.header__description style guide
  li.menu__item
    a(href='#') Overview
    ul.menu__sub
      li
        a(href='#introduction') Introduction
      li
        a(href='#brand') Brand
  li.menu__item
    a(href='#') Design
    ul.menu__sub
      li
        a(href='#colours') Colour
      li
        a(href='#typography') Typography
      li
        a(href='#logo') Logo
      li
        a(href='#favicon') Favicon
      li
        a(href='#graphicelement') Graphic element
  li.menu__item
    a(href='#') Components
    ul.menu__sub
      li
        a(href='#buttons') Buttons
      li
        a(href='#form-elements') Form Elements
      li
        a(href='#data-graphic') Data Graphic
  li.menu__item
    a(href='#examples') Examples of Use
