ul.menu(data-accordion-menu='')
  li.menu__item
    a(href='#') Item 1
    ul.menu__sub
      li
        a(href='#') Item 1A
      li
        a(href='#') Item 1B
      li
        a(href='#') Item 1A
      li
        a(href='#') Item 1B
      li
        a(href='#') Item 1A
      li
        a(href='#') Item 1B
      li
        a(href='#') Item 1A
      li
        a(href='#') Item 1B
      li
        a(href='#') Item 1A
      li
        a(href='#') Item 1B
  li.menu__item
    a(href='#') Item 2
