mixin colours-primary
  .row.medium-unstack.gutter-top
    .column
      .colours__primary__bg
        .bg--white
      .colours__primary__description
        p White / Primary 
        p Hex #FFFFFF
        p CMYK 0/0/0/0
    .column
      .colours__primary__bg
        .bg--black
      .colours__primary__description
        p Black / Primary
        p Hex #000000
        p CMYK 100/100/100/100
  .row.medium-unstack.gutter-top--lg
    .column
      .colours__primary__bg
        .bg--blue
          .blue--1
          .blue--2
          .blue--3
      .colours__primary__description
        p Ultra Marine Blue / Primary 
        p Hex #4370F7
        p CMYK 0.7287/0.5466/0/0.0314  
    .column
      .colours__primary__bg
        .bg--red
          .red--1
          .red--2
          .red--3
      .colours__primary__description
        p Coral Reef / Primary
        p Hex #FF7C68
        p CMYK 0/0.5137/0.5922/0

mixin colours-additional
  .row
    .small-12.column
      p.p Grey Scale
  .row.medium-unstack
    .column
      .colours__additional__bg
        .bg--black90
      .colours__additional__description
        p Black 90% 
        p Hex #191919
        p CMYK 0/0/0/90
    .column
      .colours__additional__bg
        .bg--black70
      .colours__additional__description
        p Black 70% 
        p Hex #4C4C4C
        p CMYK 0/0/0/70
    .column
      .colours__additional__bg
        .bg--black50
      .colours__additional__description
        p Black 50% 
        p Hex #7F7F7F
        p CMYK 0/0/0/50
    .column
      .colours__additional__bg
        .bg--black30
      .colours__additional__description
        p Black 30% 
        p Hex #B2B2B2
        p CMYK 0/0/0/30
    .column
      .colours__additional__bg
        .bg--black10
      .colours__additional__description
        p Black 10% 
        p Hex #E5E5E5
        p CMYK 0/0/0/10
    .column
      .colours__additional__bg
        .bg--black3
      .colours__additional__description
        p Black 3% 
        p Hex #F7F7F7
        p CMYK 0/0/0/3

mixin colours-accent
  .row.gutter-top--lg
    .small-12.column
      p.p Secondary Accent Colors
  .row.medium-unstack
    .column
      .colours__accent__bg
        .bg--orange
      .colours__accent__description
        p Very Pale Orange / Accent
        p Hex #F9E0C2
        p CMYK 0/0.1004/0.2209/0.0235
    .column
      .colours__accent__bg
        .bg--green
      .colours__accent__description
        p Kombu Green / Accent
        p Hex #36453B
        p CMYK 0.2174/0/0.1449/0.7294
    .column
      .colours__accent__bg
        .bg--storm
      .colours__accent__description
        p Kombu Green / Accent
        p Hex #596869
        p CMYK 0.1524/0.0095/0/0.5882
