mixin frame-desktop-search
  .fake-browser-ui
    .frame
      span
      span
      span
    img(src='images/png/desktop-search@2x.png', width='100%', height='100%', alt='A nice description')
    
mixin frame-desktop-content
  .fake-browser-ui
    .frame
      span
      span
      span
    img(src='images/png/desktop-content@2x.png', width='100%', height='100%', alt='A nice description')
    
mixin frame-mobile-content
  .fake-browser-ui
    .frame
      span
      span
      span
    img(src='images/png/mobile-content@2x.png', width='100%', height='100%', alt='A nice description')
    
mixin frame-mobile-search
  .fake-browser-ui
    .frame
      span
      span
      span
    img(src='images/png/mobile-search@2x.png', width='100%', height='100%', alt='A nice description')
