mixin graphicelement-paleorange
  .graphicelement__mask.graphicelement__mask--paleorange
    img(src="images/png/city-1.png")
    
mixin graphicelement-orange
  .graphicelement__mask.graphicelement__mask--orange
    img(src="images/png/city-1.png")
    
mixin graphicelement-orange-outline
  .graphicelement__mask.graphicelement__mask--orangeoutline
    img(src="images/png/city-1.png")
    
mixin graphicelement-orange-inverted
  .graphicelement__mask.graphicelement__mask--orange.graphicelement__mask--inverted
    img(src="images/png/city-1.png")
