mixin graphicelement-paleorange
  .graphicelement__mask
    img(src="images/png/graphicelement/1@2x.png")
    
mixin graphicelement-orange-2
  .graphicelement__mask
    img(src="images/png/graphicelement/2@2x.png")
    
mixin graphicelement-orange
  .graphicelement__mask
    img(src="images/png/graphicelement/3@2x.png")
    
mixin graphicelement-orange-outline
  .graphicelement__mask
    img(src="images/png/graphicelement/4@2x.png")
    
mixin graphicelement-orange-inverted
  .graphicelement__mask
    img(src="images/png/graphicelement/5@2x.png")
