/*
** Mixins
*/

@mixin bp($name) {
  @if map-has-key($bp, $name) {
    @media #{inspect(map-get($bp, $name))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$bp}`. "
        + "Please make sure it is defined in `$bp` map.";
  }
}


@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin shadow-0 {
  box-shadow: none;
}

@mixin shadow-1 {
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

@mixin shadow-2 {
  box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

.shadow-1 {
  @include shadow-1
}
.shadow-2 {
  @include shadow-2
}
