/*
** Reset
*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.is-accordion-submenu-parent > a::after {
  border-color: $gray-3 transparent transparent;
}
