/*
** Typography
*/

/* Font Face load */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

@font-face {
  font-family: 'avenir-light';
  font-weight: 300;;
  font-style: normal;
  src: url('../fonts/avenir-light2.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir-light2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir-light2.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/avenir-light2.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/avenir-light2.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir-light2.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
 font-family: 'avenir-light-italic';
 font-weight: 300;
 font-style: italic;
 src: url('../fonts/avenir-lightitalic.eot'); /* IE9 Compat Modes */
 src: url('../fonts/avenir-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/avenir-lightitalic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/avenir-lightitalic.woff') format('woff'), /* Pretty Modern Browsers */
      url('../fonts/avenir-lightitalic.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../fonts/avenir-lightitalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
 font-family: 'avenir-medium';
 font-weight: 500;
 font-style: normal;
 src: url('../fonts/avenir-medium.eot'); /* IE9 Compat Modes */
 src: url('../fonts/avenir-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/avenir-medium.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/avenir-medium.woff') format('woff'), /* Pretty Modern Browsers */
      url('../fonts/avenir-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../fonts/avenir-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
 font-family: 'avenir-black';
 font-weight: 900;
 font-style: normal;
 src: url('../fonts/avenir-black.eot'); /* IE9 Compat Modes */
 src: url('../fonts/avenir-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/avenir-black.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/avenir-black.woff') format('woff'), /* Pretty Modern Browsers */
      url('../fonts/avenir-black.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../fonts/avenir-black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* H1 */
@mixin type-h1 {

  @include breakpoint(medium) {
  }
}

h1,
.h1 {

}


/* H2 */
@mixin type-h2 {


  @include breakpoint(medium) {

  }

  @include breakpoint(large) {

  }

  @include breakpoint(xlarge) {

  }
}

h2,
.h2 {
  @include type-h2;
}


/* H3 */
@mixin type-h3 {

  @include breakpoint(medium) {

  }
}

h3,
.h3 {
  @include type-h3;
}


/* Paragraph */
@mixin type-p {


  @include breakpoint(medium) {
    
  }
}

p,
.p {
  @include type-p;
}


/* Alignment */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
