/*
** Typography
*/

/* Font Face load */
/*
@font-face {
    font-family: "klavika-light";
    font-style: normal;
    font-weight: 300;
    src:   url('../fonts/klavika-light-webfont.eot');
    src:   url('../fonts/klavika-light-webfont.eot?#iefix') format('embedded-opentype'),
           url("../fonts/klavika-light-webfont.otf") format("opentype"),
           url('../fonts/klavika-light-webfont.ttf')  format('truetype'),
           url("../fonts/klavika-light-webfont.woff2") format("woff2"),
           url("../fonts/klavika-light-webfont.woff") format("woff");
}

@font-face {
    font-family: "klavika-lightitalic";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/klavika-lightitalic-webfont.eot');
    src: url('../fonts/klavika-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url("../fonts/klavika-lightitalic-webfont.otf") format("opentype"),
         url('../fonts/klavika-lightitalic-webfont.ttf')  format('truetype'),
         url("../fonts/klavika-lightitalic-webfont.woff2") format("woff2"),
         url("../fonts/klavika-lightitalic-webfont.woff") format("woff");
}

@font-face {
    font-family: "klavika-medium";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/klavika-medium-webfont.eot');
    src: url('../fonts/klavika-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url("../fonts/klavika-medium-webfont.otf") format("opentype"),
         url('../fonts/klavika-medium-webfont.ttf')  format('truetype'),
         url("../fonts/klavika-medium-webfont.woff2") format("woff2"),
         url("../fonts/klavika-medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "klavika-mediumitalic";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/klavika-mediumitalic-webfont.eot');
    src: url('../fonts/klavika-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url("../fonts/klavika-mediumitalic-webfont.otf") format("opentype"),
         url('../fonts/klavika-mediumitalic-webfont.ttf')  format('truetype'),
         url("../fonts/klavika-mediumitalic-webfont.woff2") format("woff2"),
         url("../fonts/klavika-mediumitalic-webfont.woff") format("woff");
}

@font-face {
    font-family: "klavika-regular";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/klavika-regular-webfont.eot');
    src: url('../fonts/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url("../fonts/klavika-regular-webfont.otf") format("opentype"),
         url('../fonts/klavika-regular-webfont.ttf')  format('truetype'),
         url("../fonts/klavika-regular-webfont.woff2") format("woff2"),
         url("../fonts/klavika-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "klavika-regularitalic";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/klavika-regularitalic-webfont.eot');
    src: url('../fonts/klavika-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url("../fonts/klavika-regularitalic-webfont.otf") format("opentype"),
         url('../fonts/klavika-regularitalic-webfont.ttf')  format('truetype'),
         url("../fonts/klavika-regularitalic-webfont.woff2") format("woff2"),
         url("../fonts/klavika-regularitalic-webfont.woff") format("woff");
}
*/

/* H1 */
@mixin type-h1 {
  font-family: $ff-regular;
  font-size: $fs-4;
  font-weight: 400;

  @include breakpoint(medium) {
    font-size: $fs-5;
  }
}

h1,
.h1 {
  @include type-h1;
}


/* H2 */
@mixin type-h2 {
  font-family: $ff-regular;
  font-size: $fs-3;
  font-weight: $fw-regular;

  @include breakpoint(medium) {
    font-size: $fs-4;
  }

  @include breakpoint(large) {
    font-size: $fs-4;
  }

  @include breakpoint(xlarge) {
    font-size: $fs-5;
  }
}

h2,
.h2 {
  @include type-h2;
}


/* H3 */
@mixin type-h3 {
  font-family: $ff-regular;
  font-size: $fs-2;
  font-weight: $fw-regular;

  @include breakpoint(medium) {
    font-size: $fs-3;
  }
}

h3,
.h3 {
  @include type-h3;
}


/* Paragraph */
@mixin type-p {
  font-family: $ff-light;
  font-size: $fs-1;
  font-weight: $fw-light;

  @include breakpoint(medium) {
    font-size: $fs-2;
  }
}

p,
.p {
  @include type-p;
}


/* Alignment */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
