mixin headline-h1
  .typography__h1
    p H1
    p Avenir HeavyOblique 40px /46px 
    p ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
    p abcdefghijklmnopqrstuvwxyzæøå
    p 1234567890
    p !”#%&/()=?@
  
mixin headline-h2
  .typography__h2
    p H2
    p Avenir Medium 21px /29px 
    p ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
    p abcdefghijklmnopqrstuvwxyzæøå
    p 1234567890
    p !”#%&/()=?@
  
mixin headline-h3 
  .typography__h3
    p H3
    p Avenir LightOblique 17px /21px 
    p ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
    p abcdefghijklmnopqrstuvwxyzæøå
    p 1234567890
    p !”#%&/()=?@

mixin headline-body
  .typography__body
    p Body
    p Avenir Light 14px /19px 
    p ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
    p abcdefghijklmnopqrstuvwxyzæøå
    p 1234567890
    p !”#%&/()=?@ 
 
