mixin introduction
  p.p.t-em This ia a subline to test the size and weight. Hopefully we find what we need. We dont know
  p.p Welcome to our styleguide.
  p.p This style guide works as a digital toolbox for everyone working with our visual identity to make sure that the design and content of Fokusmæglerne is kept consistent and correct.
  p.p The style guide consist of single particles that can be integrated in different constellations to make bigger modular parts which can be the basis for both digital and analogue solutions. 

mixin colours-primary-text
  h2.h2.t-medium Primary colors
  p.p Fokusmæglerne primary colors consists of black, white and a blue. Coral is used as the accent color. The colors can be used in tints on graphics or typography to create more diversity or a lighter expression.

mixin colours-additional-text
  h2.h2.t-medium Additional colors
  p.p Additional colors are allowed to be used together with the primary color palette. These colors typically feature in secondary graphics — such as info graphics, data, web notifications etc.
  
mixin typography-text
  p.p Avenir is Fokusmæglernes corporate font and should be used in all marketing material. Avenir should be in titles, introductions as well as body copy. Headings should be in upper and lower case. 
