mixin introduction
  p.p Welcome to our style guide.
  p.p This style guide works as a digital toolbox for everyone working with our visual identity to make sure that the design and content of Fokusmæglerne is kept consistent and correct.
  p.p The style guide consist of single elements that can be integrated in different constellations to make bigger modular parts which can be the basis for both digital and analogue solutions. 

mixin brand
  p.p.t-em It is important for Fokusmæglerne that our brand and visual apperance is coherent throughout.
  p.p.gutter-top Our values are important for us and the way we run our business. It is therefore important that the values are thought into every corner of our presence. We are:
  h2.h2.t-medium.gutter-top Local
  p.p For us, local means that we are local to the people by heart, and not by the certain placement of the store. We are taking an active part in the society surrounding us. We are participating and taking part in activities nearby as well as engaging our neighbourhood by hosting events and competitions for those who want to participate. 
  h2.h2.t-medium.gutter-top Trust
  p.p Trust means that we care about our personal relations. It is a very important part of our business that we have time to gain trust from the clients and keep building trust based on personal relations. We use time to be personal to each individual we are engaging with and we want to continue the relations that we have gained, regardless of the size of our business and  workload. Trust is for us the belief that people come back to where they feel well-treated as a person and not only as a client. 
  h2.h2.t-medium.gutter-top Kind
  p.p Kind means that we care and gladly receive and willingly accepts tasks, matters and clients. We strive to welcome everyone with open arms and smiles and wish that the customers can feel the heart warmth and cozy atmosphere of our store, our love for what we do and our personalities.
  h2.h2.t-medium.gutter-top Unique
  p.p Unique means new in business, it means that we are adding some freshness to our store by being untraditional, by using new methods and bringing new approaches into the way of running a Real Estate business. We want to express comfort and style with our appearance within our business, stand out from the crowd of competitors and be recognizable on the market. We want to give our clients a unique experience with an exclusive touch to it. 

mixin colours-primary-text
  h2.h2.t-medium Primary colors
  p.p Fokusmæglerne primary colors consists of black, white and a blue. Coral is used as the accent color. The colors can be used in tints on graphics or typography to create more diversity or a lighter expression.

mixin colours-additional-text
  h2.h2.t-medium Additional colors
  p.p Additional colors are allowed to be used together with the primary color palette. These colors typically feature in secondary graphics — such as info graphics, data, web notifications etc.
  
mixin typography-text
  p.p Avenir is Fokusmæglernes corporate font and should be used in all marketing material. Avenir should be in titles, introductions as well as body copy. Headings should be in upper and lower case. 

mixin typographic-moodboard
  .row
    .small-12.medium-4.columns
      .typography__h1.gutter-bottom
        p.t-caps Er din andelsboligafgift rigtig prissat?
      .typography__h3
        p De 5 %, som vi fast donerer fra al vores omsætning, går fra vores salær, så det er ikke dyrere at sælge sin bolig via os.”
    .small-12.medium-7.columns
      .typography__h2.t-ultramarine.gutter-bottom
        p Uanset, om man står overfor at skulle investere i ny bolig eller sælge sin lejlighed eller sit hus, står <span class="t-coralreef">Fokusmæglerne</span> klar med et indgående kendskab til Storkøbenhavn og særligt Amager.   
      .row
        .small-5.columns
          .typography__body
            p.t-caps Introduktion
            p Fokusmæglerne har fokus på kunden og hjertet på rette sted. Corporate Social Responsibility er en grundsten i firmaet. 
            p 5 % af Fokusmæglernes omsætning går nemlig til velgørende formål, og det er sælger, der bestemmer, om donationen skal gå til Røde Kors, Kræftens Bekæmpelse eller Verdens Naturfonden. ”Det er usædvanligt at donere fra omsætningen. 
        .small-5.columns
          .typography__body
            p.gutter-bottom De fleste firmaer vælger som regel at donere af deres overskud, men vi vil gerne have, at det er gennemskueligt for kunden at se præcis, hvor mange penge, der bliver doneret.
            p.t-caps Konklusion
            p Og når vi donerer fra omsætningen, så bliver det potentielt et endnu større beløb, der kommer de tre organisationer til gode, og det er jo dét, der er hele idéen,” forklarer de to fokusmæglere.

mixin typographic-moodboard-text
  p.p Example of how Avenir can be used. Colors are used together with the typography for highlighting.
  
mixin logo-text
  p.p This is the primary logo of Fokusmæglerne — the core graphic element in the company’s corporate visual identity.
  p.p.gutter-top As a reference to the Fokusmæglernes name and the business they are in, an arrow has  been incorporated into the logo. The arrow symbolizes direction and  focus as well as the rooftop on a house. 
  
mixin dor-text
  p.p The distance of respect is the minimum space that must remain free of any other visual elements — examples: type, logos, patterns or strong images. This ensures that the primary logo stands out in the composition.
  p.p.gutter-top The distance of respect is equal to the ”K” in the logo. This distance is measured from the sides and top (cap height) and bottom (baseline) of the logo.

mixin placement-text
  p.p The logo should preferebly be placed in either corners of the format. Exceptions are allowed if the logo stands on its own (Example: The back of a business card).
  p.p.gutter-top Below is an example of logo placement with the minimum distance of respect.
  
mixin color-variations-text
  p.p Always prefer the primary logo if possible
  p.p.gutter-top The logo must be displayed on backgrounds that compromise the legability of the logo  
  p.p.gutter-top Do not use any other logo
  
mixin logo-use-no1
  p.p.gutter-top Use black or white logo only if colors can’t be displayed (for example in for printed products) or the logo must be on a colored background. 

mixin favicon-text
  p.p Favicons are small graphic icons also known as shortcut icons, bookmark icons or website icons. These icons typically feature in web browsers, and work as a small graphic indication of the company.
  p.p.gutter-top Fokusmæglerne uses the K from the logo as its favicon. Colour options are shown below.
  
mixin graphicelement-text
  p.p The graphic element can be used, so it is fully visual or partly visual as long as the tip of the element shows. 
  p.p Is has to have a color fill and may not be used only in outlines. The tip has to point to the left and may not be flipped. 
  p.p It can be used in any color within the primary and secondary colors.  
  
mixin buttons-text
  p.p The button can be used on the website and other digital medias where Fokusmæglerne is present. Always use the coral color on buttons and white text.
  p.p.gutter-top The buttons must always have rounded corners of 2px. They must always have a height og 30px. The length may vary.   
  
mixin form-elements-text
  p.p The form elements must be simple and clear to fill out. 
  p.p.gutter-top The form must always have rounded corners of 2px. 
  
mixin data-graphics-text
  p.p It is optional to use the Arrowed Line in data graphics. Since the primary objective is to present data, the Arrowed Line should only be integrated unobtrusively.
  p.p However the use of the primary colour palette is a mandatory. The predefined additional colors can be used in combination or as an alternative.
  p.p The following illustrate examples of preferred use:

mixin frame-desktop-search-text
  p.p Example of search page
  
mixin frame-desktop-content-text
  p.p Example of content page

mixin sign-text
  p.p This is only an example of use for the style guide

mixin form-text
  p.p Fill out the form and click on button to see transition. 
