mixin introduction
  p.p.t-em This ia a subline to test the size and weight. Hopefully we find what we need. We dont know
  p.p Welcome to our styleguide.
  p.p This style guide works as a digital toolbox for everyone working with our visual identity to make sure that the design and content of Fokusmæglerne is kept consistent and correct.
  p.p The style guide consist of single particles that can be integrated in different constellations to make bigger modular parts which can be the basis for both digital and analogue solutions. 

mixin colours-primary-text
  h2.h2.t-medium Primary colors
  p.p Fokusmæglerne primary colors consists of black, white and a blue. Coral is used as the accent color. The colors can be used in tints on graphics or typography to create more diversity or a lighter expression.

mixin colours-additional-text
  h2.h2.t-medium Additional colors
  p.p Additional colors are allowed to be used together with the primary color palette. These colors typically feature in secondary graphics — such as info graphics, data, web notifications etc.
  
mixin typography-text
  p.p Avenir is Fokusmæglernes corporate font and should be used in all marketing material. Avenir should be in titles, introductions as well as body copy. Headings should be in upper and lower case. 

mixin typographic-moodboard
  .row
    .small-12.medium-4.columns
      .typography__h1.gutter-bottom
        p.t-caps Er din andelsboligafgift rigtig prissat?
      .typography__h3
        p De 5 %, som vi fast donerer fra al vores omsætning, går fra vores salær, så det er ikke dyrere at sælge sin bolig via os.”
    .small-12.medium-7.columns
      .typography__h2.t-ultramarine.gutter-bottom
        p Uanset, om man står overfor at skulle investere i ny bolig eller sælge sin lejlighed eller sit hus, står <span class="t-coralreef">Fokusmæglerne</span> klar med et indgående kendskab til Storkøbenhavn og særligt Amager.   
      .row
        .small-5.columns
          .typography__body
            p.t-caps Introduktion
            p Fokusmæglerne har fokus på kunden og hjertet på rette sted. Corporate Social Responsibility er en grundsten i firmaet. 
            p 5 % af Fokusmæglernes omsætning går nemlig til velgørende formål, og det er sælger, der bestemmer, om donationen skal gå til Røde Kors, Kræftens Bekæmpelse eller Verdens Naturfonden. ”Det er usædvanligt at donere fra omsætningen. 
        .small-5.columns
          .typography__body
            p.gutter-bottom De fleste firmaer vælger som regel at donere af deres overskud, men vi vil gerne have, at det er gennemskueligt for kunden at se præcis, hvor mange penge, der bliver doneret.
            p.t-caps Konklusion
            p Og når vi donerer fra omsætningen, så bliver det potentielt et endnu større beløb, der kommer de tre organisationer til gode, og det er jo dét, der er hele idéen,” forklarer de to fokusmæglere.

mixin typographic-moodboard-text
  p.p Example of how Avenir can be used. Colours are used together with the typography for highlighting.
