extends _layouts/base

block content
  .container
    nav
      include _modules/organisms/menu
    main
      section#overview-introduction
        h1 introduction
      section#design-colour
        h1 colour
      section#design-typography
        h1 typo
      section#design-logo
        h1 logo
      section#design-favicon
        h1 favicon
      section#design-graphicelement
        h1 graphic element
