extends _layouts/base

block content
  .container
    nav
      include _modules/organisms/menu
    main#top
      section#introduction
        .introduction.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Introduction
            .small-12.medium-8.large-6.column
              include _modules/atoms/text-module
              +introduction
      section#brand
        .brand.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Brand
            .small-12.medium-8.column
              include _modules/atoms/text-module
              +brand
      section#colours
        .colours.inner
          .colours__primary
            .row
              .small-12.medium-8.large-6.column
                h1.h1.t-bold Colors
            .row
              .small-12.medium-10.column
                include _modules/atoms/text-module
                +colours-primary-text
            include _modules/molecules/colours
            +colours-primary
          .colours__additional
            .row
              .small-12.medium-10.column
                include _modules/atoms/text-module
                +colours-additional-text
            include _modules/molecules/colours
            +colours-additional
          .colours__accent
            include _modules/molecules/colours
            +colours-accent
      section#typography
        .typography.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Typography
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +typography-text
          .row.gutter-top
            .small-12.columns
              h2.h2.t-medium.gutter-top Desktop
          .row
            .small-12.columns.gutter-top.gutter-bottom--lg
              include _modules/atoms/headlines
              +headline-h1
            .small-12.columns.gutter-top.gutter-bottom--lg
              include _modules/atoms/headlines
              +headline-h2
            .small-12.columns.gutter-top.gutter-bottom--lg
              include _modules/atoms/headlines
              +headline-h3
            .small-12.columns.gutter-top.gutter-bottom--lg
              include _modules/atoms/headlines
              +headline-body
          .row
            .small-12.column
              h2.h2.t-medium.gutter-top Print
          .row
            .small-12.columns.gutter-top.gutter-bottom--lg
              include _modules/atoms/headlines
              +headline-print-h1
            .small-12.columns.gutter-top.gutter-bottom--lg
              include _modules/atoms/headlines
              +headline-print-h2
            .small-12.columns.gutter-top.gutter-bottom--lg
              include _modules/atoms/headlines
              +headline-print-body
          .row
            .small-12.column
              h2.h2.t-medium.gutter-top Typographic Moodboard
          .row
            .small-12.medium-10.column.gutter-bottom--lg
              include _modules/atoms/text-module
              +typographic-moodboard-text
          .row
            .small-12.column
              include _modules/atoms/text-module
              +typographic-moodboard
              
      section#logo
        .logo.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Logo
          .row
            .small-12.columns
              h2.h2.t-medium Primary Logo
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +logo-text
          .row
            .small-12.medium-10.column.gutter-top
              img(src="images/svg/fm-logo-lg.svg")
          .row
            .small-12.columns.gutter-top--lg
              h2.h2.t-medium Distance of Respect
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +dor-text
          .row
            .small-12.medium-10.column.gutter-top
              img(src="images/svg/fm-logo-respect.svg")
          .row
            .small-12.columns.gutter-top--lg
              h2.h2.t-medium Placement of the Logo
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +placement-text
          .row
            .small-12.medium-10.column.gutter-top
              img(src="images/svg/fm-logo-placement.svg")
          .row
            .small-12.columns.gutter-top--lg
              h2.h2.t-medium Color Variations
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +color-variations-text
          .row
            .small-12.medium-6.column.gutter-top
              img(src="images/svg/fm-logo-lg.svg")
          .row.medium-unstack.gutter-top--mg
            .column
              img(src="images/svg/fm-logo-white.svg")
            .column
              img(src="images/svg/fm-logo-inverted.svg")
          .row
            .small-12.column
              include _modules/atoms/text-module
              +logo-use-no1
          .row.medium-unstack.gutter-top--lg
            .column
              img(src="images/svg/fm-logo-no1.svg")
              p.p.gutter-top Do not use the primary logo on colored backgrounds
            .column
              img(src="images/svg/fm-logo-no2.png")
              p.p.gutter-top Do not use the logo on pictures
          .row.medium-unstack.gutter-top--lg
            .column
              img(src="images/svg/fm-logo-no3.svg")
              p.p.gutter-top Do not use the black logo on compromising backgrounds
            .column
              img(src="images/svg/fm-logo-no4.svg")
              p.p.gutter-top Do not use the white logo on compromising backgrounds
      section#favicon
        .favicon.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Favicon
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +favicon-text
          .row.gutter-top--lg
            .small-12.medium-2.column
              img(src="images/svg/fm-logo-favicon.svg")
          .row.gutter-top--lg
            .small-12.medium-3.column
              .row.medium-unstack
                .columns
                  img(src="images/svg/fm-logo-favicon.svg", style="width: 75%")
                .columns
                  img(src="images/svg/fm-logo-favicon-black.svg", style="width: 75%")
                .columns
                  img(src="images/svg/fm-logo-favicon-box.svg")
      section#graphicelement
        .graphicelement.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Graphic Element
          .row
            .small-12.medium-3.column
              img(src="images/svg/fm-logo-paleorange.svg")
          .row.medium-unstack.gutter-top--lg
            .columns
              include _modules/molecules/graphicelement
              +graphicelement-paleorange
            .columns
              include _modules/molecules/graphicelement
              +graphicelement-orange-2
          .row.gutter-top--lg
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +graphicelement-text
          .row.medium-unstack.gutter-top--lg
            .columns
              include _modules/molecules/graphicelement
              +graphicelement-orange-outline
            .columns
              include _modules/molecules/graphicelement
              +graphicelement-orange-inverted
          .row.medium-unstack.gutter-top--lg
            .columns
              include _modules/molecules/graphicelement
              +graphicelement-orange
            .columns
      section#buttons
        .buttons.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Buttons
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +buttons-text
          .row.gutter-top
            .small-12.medium-3.columns.fb-center.fb-center--start
              include _modules/atoms/buttons
              +btn-default
            .small-12.medium-6.columns
              p.p Default. Default. Shadows: #000000 20 % opacity / X: 2, Y: 4 / blur: 6 / Spread: 0   
          .row.gutter-top
            .small-12.medium-3.columns.fb-center.fb-center--start
              include _modules/atoms/buttons
              +btn-default--hover
            .small-12.medium-6.columns
              p.p Hover. Shadows: #000000 20 % opacity / X: 0, Y: 5 / blur: 11 / Spread: 0   
          .row.gutter-top
            .small-12.medium-3.columns.fb-center.fb-center--start
              include _modules/atoms/buttons
              +btn-default--click
            .small-12.medium-6.columns
              p.p Click. No shadow / Hex: #FF6048
      section#form-elements
        .form-elements.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Form Elements
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +form-elements-text
          .row
            .small-12.columns.gutter-top--lg
              h2.h2.t-medium Contact
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +form-text
          .row.medium-unstack.gutter-top
            .columns
              include _modules/molecules/form
              +form-default
            .columns
              include _modules/molecules/form
              +form-error
      section#data-graphic
        .data-graphics.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Data Graphics
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +data-graphics-text
          .row.medium-unstack.fb-center.gutter-top--lg
            .column
              img(src="images/svg/chart-pie.svg")
            .column
              img(src="images/svg/chart-donut.svg")
            .column
              img(src="images/svg/chart-bar.svg")
      section#examples
        .examples.inner
          .row
            .small-12.medium-8.large-6.column
              h1.h1.t-bold Examples of Use
          .row
            .small-12.columns.gutter-top--lg
              h2.h2.t-medium Business Cards
          .row.medium-unstack.gutter-top
            .column
              img.shadow-1(src="images/svg/bc-front.svg")
            .column
              img.shadow-1(src="images/svg/bc-back@2x.png")
          .row.gutter-top--lg
            .small-12.columns
              h2.h2.t-medium Letters
          .row.medium-unstack.gutter-top
            .column
              img.shadow-1(src="images/svg/letter@2x.png")
            .column
          .row
            .small-12.columns.gutter-top--lg
              h2.h2.t-medium Website, desktop
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +frame-desktop-search-text
          .row
            .small-10.medium-8.column
              include _modules/molecules/frame
              +frame-desktop-search
          .row.gutter-top
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +frame-desktop-content-text
          .row
            .small-10.medium-8.column
              include _modules/molecules/frame
              +frame-desktop-content
          .row
            .small-12.columns.gutter-top--lg
              h2.h2.t-medium Website, mobile
          .row
            .small-12.medium-3.column
              include _modules/molecules/frame
              +frame-mobile-content
            .small-12.medium-3.column
              include _modules/molecules/frame
              +frame-mobile-search
          .row
            .small-12.columns.gutter-top--lg
              h2.h2.t-medium "For Sale" sign
          .row
            .small-12.medium-10.column
              include _modules/atoms/text-module
              +sign-text
          .row.medium-unstack.gutter-top
            .column
              img.shadow-1(src="images/png/graphicelement/sign@2x.png")
            .column
